<ion-view view-title="Mi Cuenta">
  <ion-content>


      <div class="list card">

  <div class="item item-avatar">
    <img src="edgar.jpg">
    <h2>Edgar Solorzano Lopez</h2>
    <p>Mayo, 1990</p>
  </div>

  <div class="list list-inset">

    <div class="item">
      Edgarsl90@gmail.com
    </div>

    <div class="item">
      Sitio Web
    </div>

    <div class="item">
     Numero de telefono
    </div>






   

  

  <a class="item item-icon-left" href="#/tab/account/3">
    <i class="icon ion-social-rss"></i>
    Mis Suscripciones
    <span class="badge badge-assertive">0</span>
  </a>
       
   <a class="item item-icon-left" href="#">
    <i class="icon ion-android-sad"></i>
    Signs
    
  </a>       

</div>
  </ion-content>
</ion-view>
