<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Servicios" icon-off="ion-bag" icon-on="ion-bag" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Notificaiones Tab -->
  <ion-tab title="Notificaciones" icon-off="icon ion-ios-bell" icon-on="icon ion-ios-bell" href="#/tab/notificaciones">
    <ion-nav-view name="tab-notificaciones"></ion-nav-view>

    </ion-tab>


  <ion-tab title="Suscripciones" icon-off="icon ion-social-buffer" icon-on="icon ion-social-buffer" href="#/tab/suscripciones">
    <ion-nav-view name="tab-suscripciones"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

   

  </ion-tabs>


